USE [master]
GO
/****** Object:  Database [150023]    Script Date: 27/06/2019 18:34:19 ******/
CREATE DATABASE [150023]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'150023', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\150023.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'150023_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\150023_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [150023].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [150023]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 27/06/2019 18:34:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Drzava]    Script Date: 27/06/2019 18:34:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Drzava](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Naziv] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Drzava] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Edukacija]    Script Date: 27/06/2019 18:34:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Edukacija](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Cijena] [real] NOT NULL,
	[Kraj] [datetime2](7) NOT NULL,
	[Naziv] [nvarchar](max) NULL,
	[Opis] [nvarchar](max) NULL,
	[Pocetak] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Edukacija] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Grad]    Script Date: 27/06/2019 18:34:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Grad](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[DrzavaID] [int] NOT NULL,
	[Naziv] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Grad] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Klijent]    Script Date: 27/06/2019 18:34:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Klijent](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[BrojTelefona] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[GradID] [int] NOT NULL,
	[Ime] [nvarchar](max) NULL,
	[PasswordSalt] [nvarchar](max) NULL,
	[PaswordHash] [nvarchar](max) NULL,
	[Prezime] [nvarchar](max) NULL,
	[Spol] [nvarchar](max) NULL,
	[Username] [nvarchar](max) NULL,
 CONSTRAINT [PK_Klijent] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Plata]    Script Date: 27/06/2019 18:34:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Plata](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Iznos] [decimal](18, 2) NOT NULL,
	[ZaposlenikID] [int] NOT NULL,
	[datum] [datetime2](7) NOT NULL,
	[godina] [int] NOT NULL,
	[mjesec] [int] NOT NULL,
 CONSTRAINT [PK_Plata] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Proizvods]    Script Date: 27/06/2019 18:34:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Proizvods](
	[ProizvodID] [int] IDENTITY(1,1) NOT NULL,
	[Cijena] [decimal](18, 2) NOT NULL,
	[DatumKupovine] [datetime2](7) NOT NULL,
	[KolicinaUSkladiste] [int] NOT NULL,
	[Naziv] [nvarchar](max) NULL,
	[Sifra] [nvarchar](max) NULL,
	[Slika] [varbinary](max) NULL,
	[SlikaThumb] [varbinary](max) NULL,
	[VrstaProizvodaID] [int] NOT NULL,
 CONSTRAINT [PK_Proizvods] PRIMARY KEY CLUSTERED 
(
	[ProizvodID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProizvodUsluga]    Script Date: 27/06/2019 18:34:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProizvodUsluga](
	[ProizvodUslugaID] [int] IDENTITY(1,1) NOT NULL,
	[ProizvodID] [int] NOT NULL,
	[UslugeId] [int] NOT NULL,
 CONSTRAINT [PK_ProizvodUsluga] PRIMARY KEY CLUSTERED 
(
	[ProizvodUslugaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PruzeneUsluge]    Script Date: 27/06/2019 18:34:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PruzeneUsluge](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RezervacijaID] [int] NOT NULL,
	[UslugaID] [int] NOT NULL,
	[ZaposlenikID] [int] NOT NULL,
 CONSTRAINT [PK_PruzeneUsluge] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ratings]    Script Date: 27/06/2019 18:34:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ratings](
	[RatingID] [int] IDENTITY(1,1) NOT NULL,
	[KlijentID] [int] NOT NULL,
	[Rating1] [int] NOT NULL,
	[UslugeID] [int] NOT NULL,
 CONSTRAINT [PK_Ratings] PRIMARY KEY CLUSTERED 
(
	[RatingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rezervacija]    Script Date: 27/06/2019 18:34:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rezervacija](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[BrojOsoba] [int] NOT NULL,
	[DatumRezervacije] [datetime2](7) NOT NULL,
	[KlijentID] [int] NOT NULL,
	[Otkazano] [bit] NOT NULL,
	[Prihvaceno] [bit] NOT NULL,
	[UslugeID] [int] NOT NULL,
	[Vrijeme] [nvarchar](max) NULL,
 CONSTRAINT [PK_Rezervacija] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RezervacijaEdukacije]    Script Date: 27/06/2019 18:34:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RezervacijaEdukacije](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[edukacijaID] [int] NOT NULL,
	[klijentID] [int] NOT NULL,
	[zaposlenikID] [int] NOT NULL,
 CONSTRAINT [PK_RezervacijaEdukacije] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipUplate]    Script Date: 27/06/2019 18:34:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipUplate](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[naziv] [nvarchar](max) NULL,
 CONSTRAINT [PK_TipUplate] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Uloge]    Script Date: 27/06/2019 18:34:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Uloge](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Naziv] [nvarchar](max) NULL,
	[Opis] [nvarchar](max) NULL,
 CONSTRAINT [PK_Uloge] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Uplate]    Script Date: 27/06/2019 18:34:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Uplate](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Iznos] [real] NOT NULL,
	[RezervacijaID] [int] NOT NULL,
	[TipUplateID] [int] NOT NULL,
	[ZaposlenikID] [int] NOT NULL,
	[datumUplate] [datetime2](7) NOT NULL,
	[popust] [real] NOT NULL,
 CONSTRAINT [PK_Uplate] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usluge]    Script Date: 27/06/2019 18:34:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usluge](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Cijena] [real] NOT NULL,
	[Naziv] [nvarchar](max) NULL,
	[Opis] [nvarchar](max) NULL,
	[Slika] [varbinary](max) NULL,
 CONSTRAINT [PK_Usluge] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VrstaProizvoda]    Script Date: 27/06/2019 18:34:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VrstaProizvoda](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Naziv] [nvarchar](max) NULL,
 CONSTRAINT [PK_VrstaProizvoda] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ZaposleniciUloge]    Script Date: 27/06/2019 18:34:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ZaposleniciUloge](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UlogaID] [int] NOT NULL,
	[ZaposlenikID] [int] NOT NULL,
 CONSTRAINT [PK_ZaposleniciUloge] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Zaposlenik]    Script Date: 27/06/2019 18:34:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Zaposlenik](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[BrojTelefona] [nvarchar](max) NULL,
	[DatumRodjenja] [datetime2](7) NOT NULL,
	[DatumZaposelenja] [datetime2](7) NOT NULL,
	[Email] [nvarchar](max) NULL,
	[GradID] [int] NOT NULL,
	[Ime] [nvarchar](max) NULL,
	[JMBG] [nvarchar](max) NULL,
	[PasswordSalt] [nvarchar](max) NULL,
	[PaswordHash] [nvarchar](max) NULL,
	[Prezime] [nvarchar](max) NULL,
	[TekuciRacun] [float] NULL,
	[Username] [nvarchar](max) NULL,
 CONSTRAINT [PK_Zaposlenik] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20190626195511_Inicijalno', N'2.0.1-rtm-125')
SET IDENTITY_INSERT [dbo].[Drzava] ON 

INSERT [dbo].[Drzava] ([id], [Naziv]) VALUES (1, N'BiH')
SET IDENTITY_INSERT [dbo].[Drzava] OFF
SET IDENTITY_INSERT [dbo].[Grad] ON 

INSERT [dbo].[Grad] ([id], [DrzavaID], [Naziv]) VALUES (1, 1, N'Mostar')
SET IDENTITY_INSERT [dbo].[Grad] OFF
SET IDENTITY_INSERT [dbo].[Klijent] ON 

INSERT [dbo].[Klijent] ([id], [BrojTelefona], [Email], [GradID], [Ime], [PasswordSalt], [PaswordHash], [Prezime], [Spol], [Username]) VALUES (1, N'454545', N'email@email.com', 1, N'Adna', N'GlQKvNweRSROsFsfSS1vZw==', N'IPJLYy+164KX+7a5UXQOmFuqVzU=', N'Obradovic', N'Z', N'Adna')
INSERT [dbo].[Klijent] ([id], [BrojTelefona], [Email], [GradID], [Ime], [PasswordSalt], [PaswordHash], [Prezime], [Spol], [Username]) VALUES (2, N'8788878', N'belam@email.com', 1, N'Belma', N'enqkDhDZOrgAI93DvY6KdQ==', N'lRbvy/IV0K4kXliZ6FSWpAPYN/E=', N'Voloder', N'Z', N'Belma')
INSERT [dbo].[Klijent] ([id], [BrojTelefona], [Email], [GradID], [Ime], [PasswordSalt], [PaswordHash], [Prezime], [Spol], [Username]) VALUES (1002, N'455454545', N'selma@hotmail.com', 1, N'Selma', N'Selma', N'Selma', N'Obrradovic', N'Z', N'Selma')
SET IDENTITY_INSERT [dbo].[Klijent] OFF
SET IDENTITY_INSERT [dbo].[Plata] ON 

INSERT [dbo].[Plata] ([id], [Iznos], [ZaposlenikID], [datum], [godina], [mjesec]) VALUES (1, CAST(500.00 AS Decimal(18, 2)), 1, CAST(N'2019-06-26T00:00:00.0000000' AS DateTime2), 2019, 6)
INSERT [dbo].[Plata] ([id], [Iznos], [ZaposlenikID], [datum], [godina], [mjesec]) VALUES (2, CAST(500.00 AS Decimal(18, 2)), 1, CAST(N'2019-05-26T00:00:00.0000000' AS DateTime2), 2019, 5)
INSERT [dbo].[Plata] ([id], [Iznos], [ZaposlenikID], [datum], [godina], [mjesec]) VALUES (1002, CAST(1000.00 AS Decimal(18, 2)), 1, CAST(N'2019-06-27T00:00:00.0000000' AS DateTime2), 2019, 3)
SET IDENTITY_INSERT [dbo].[Plata] OFF
SET IDENTITY_INSERT [dbo].[Proizvods] ON 

SET IDENTITY_INSERT [dbo].[Proizvods] OFF
SET IDENTITY_INSERT [dbo].[Ratings] ON 

INSERT [dbo].[Ratings] ([RatingID], [KlijentID], [Rating1], [UslugeID]) VALUES (1, 1, 5, 1)
INSERT [dbo].[Ratings] ([RatingID], [KlijentID], [Rating1], [UslugeID]) VALUES (2, 1, 5, 2)
SET IDENTITY_INSERT [dbo].[Ratings] OFF
SET IDENTITY_INSERT [dbo].[Rezervacija] ON 

INSERT [dbo].[Rezervacija] ([Id], [BrojOsoba], [DatumRezervacije], [KlijentID], [Otkazano], [Prihvaceno], [UslugeID], [Vrijeme]) VALUES (1, 1, CAST(N'2019-05-13T00:00:00.0000000' AS DateTime2), 1, 0, 1, 1, N'15:00')
INSERT [dbo].[Rezervacija] ([Id], [BrojOsoba], [DatumRezervacije], [KlijentID], [Otkazano], [Prihvaceno], [UslugeID], [Vrijeme]) VALUES (2, 1, CAST(N'2019-06-27T11:57:27.8240000' AS DateTime2), 1, 0, 0, 1, N'14:00')
INSERT [dbo].[Rezervacija] ([Id], [BrojOsoba], [DatumRezervacije], [KlijentID], [Otkazano], [Prihvaceno], [UslugeID], [Vrijeme]) VALUES (3, 1, CAST(N'0001-01-01T00:00:00.0000000' AS DateTime2), 1, 0, 0, 1, NULL)
SET IDENTITY_INSERT [dbo].[Rezervacija] OFF
SET IDENTITY_INSERT [dbo].[TipUplate] ON 

INSERT [dbo].[TipUplate] ([Id], [naziv]) VALUES (1, N'Karticno')
INSERT [dbo].[TipUplate] ([Id], [naziv]) VALUES (2, N'Gotovinsko')
SET IDENTITY_INSERT [dbo].[TipUplate] OFF
SET IDENTITY_INSERT [dbo].[Uloge] ON 

INSERT [dbo].[Uloge] ([Id], [Naziv], [Opis]) VALUES (1, N'Administrator', N'Admin')
SET IDENTITY_INSERT [dbo].[Uloge] OFF
SET IDENTITY_INSERT [dbo].[Uplate] ON 

INSERT [dbo].[Uplate] ([Id], [Iznos], [RezervacijaID], [TipUplateID], [ZaposlenikID], [datumUplate], [popust]) VALUES (5, 45, 1, 1, 1, CAST(N'2019-06-26T00:00:00.0000000' AS DateTime2), 0)
INSERT [dbo].[Uplate] ([Id], [Iznos], [RezervacijaID], [TipUplateID], [ZaposlenikID], [datumUplate], [popust]) VALUES (8, 45, 1, 1, 1, CAST(N'2019-06-26T21:41:03.1780000' AS DateTime2), 0)
INSERT [dbo].[Uplate] ([Id], [Iznos], [RezervacijaID], [TipUplateID], [ZaposlenikID], [datumUplate], [popust]) VALUES (9, 20, 1, 1, 2, CAST(N'2019-06-26T00:00:00.0000000' AS DateTime2), 0)
SET IDENTITY_INSERT [dbo].[Uplate] OFF
SET IDENTITY_INSERT [dbo].[Usluge] ON 

SET IDENTITY_INSERT [dbo].[Usluge] OFF
SET IDENTITY_INSERT [dbo].[VrstaProizvoda] ON 

INSERT [dbo].[VrstaProizvoda] ([Id], [Naziv]) VALUES (1, N'Krema')
INSERT [dbo].[VrstaProizvoda] ([Id], [Naziv]) VALUES (2, N'Sampon')
INSERT [dbo].[VrstaProizvoda] ([Id], [Naziv]) VALUES (3, N'Puder')
SET IDENTITY_INSERT [dbo].[VrstaProizvoda] OFF
SET IDENTITY_INSERT [dbo].[ZaposleniciUloge] ON 

INSERT [dbo].[ZaposleniciUloge] ([Id], [UlogaID], [ZaposlenikID]) VALUES (3, 1, 2)
INSERT [dbo].[ZaposleniciUloge] ([Id], [UlogaID], [ZaposlenikID]) VALUES (5, 1, 2)
INSERT [dbo].[ZaposleniciUloge] ([Id], [UlogaID], [ZaposlenikID]) VALUES (1002, 1, 1)
SET IDENTITY_INSERT [dbo].[ZaposleniciUloge] OFF
SET IDENTITY_INSERT [dbo].[Zaposlenik] ON 

INSERT [dbo].[Zaposlenik] ([id], [BrojTelefona], [DatumRodjenja], [DatumZaposelenja], [Email], [GradID], [Ime], [JMBG], [PasswordSalt], [PaswordHash], [Prezime], [TekuciRacun], [Username]) VALUES (1, N'54545', CAST(N'3019-06-26T00:00:00.0000000' AS DateTime2), CAST(N'2019-03-26T00:00:00.0000000' AS DateTime2), N'email@email.com', 1, N'Enida', N'5545', N'Enida', N'Enida', N'Obradovic', NULL, N'enida')
INSERT [dbo].[Zaposlenik] ([id], [BrojTelefona], [DatumRodjenja], [DatumZaposelenja], [Email], [GradID], [Ime], [JMBG], [PasswordSalt], [PaswordHash], [Prezime], [TekuciRacun], [Username]) VALUES (2, N'45454545', CAST(N'2019-06-26T00:00:00.0000000' AS DateTime2), CAST(N'2019-06-26T00:00:00.0000000' AS DateTime2), N'email@email.com', 1, N'Selma', N'5455455454', N'3RZVhtC9L8vsfeVV/YKIFQ==', N'2Rf54Kx4fM9vYSJc51hSd0xWy4s=', N'Obradovic', NULL, N'Selma')
INSERT [dbo].[Zaposlenik] ([id], [BrojTelefona], [DatumRodjenja], [DatumZaposelenja], [Email], [GradID], [Ime], [JMBG], [PasswordSalt], [PaswordHash], [Prezime], [TekuciRacun], [Username]) VALUES (7, N'454545', CAST(N'1995-06-01T00:00:00.0000000' AS DateTime2), CAST(N'2018-06-21T00:00:00.0000000' AS DateTime2), N'emila@email.com', 1, N'Naida', N'565656', N'Neki', N'Neki', N'Neka', 5454, N'Naida')
SET IDENTITY_INSERT [dbo].[Zaposlenik] OFF
/****** Object:  Index [IX_Grad_DrzavaID]    Script Date: 27/06/2019 18:34:21 ******/
CREATE NONCLUSTERED INDEX [IX_Grad_DrzavaID] ON [dbo].[Grad]
(
	[DrzavaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Klijent_GradID]    Script Date: 27/06/2019 18:34:21 ******/
CREATE NONCLUSTERED INDEX [IX_Klijent_GradID] ON [dbo].[Klijent]
(
	[GradID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Plata_ZaposlenikID]    Script Date: 27/06/2019 18:34:21 ******/
CREATE NONCLUSTERED INDEX [IX_Plata_ZaposlenikID] ON [dbo].[Plata]
(
	[ZaposlenikID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Proizvods_VrstaProizvodaID]    Script Date: 27/06/2019 18:34:21 ******/
CREATE NONCLUSTERED INDEX [IX_Proizvods_VrstaProizvodaID] ON [dbo].[Proizvods]
(
	[VrstaProizvodaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProizvodUsluga_ProizvodID]    Script Date: 27/06/2019 18:34:21 ******/
CREATE NONCLUSTERED INDEX [IX_ProizvodUsluga_ProizvodID] ON [dbo].[ProizvodUsluga]
(
	[ProizvodID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProizvodUsluga_UslugeId]    Script Date: 27/06/2019 18:34:21 ******/
CREATE NONCLUSTERED INDEX [IX_ProizvodUsluga_UslugeId] ON [dbo].[ProizvodUsluga]
(
	[UslugeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_PruzeneUsluge_RezervacijaID]    Script Date: 27/06/2019 18:34:21 ******/
CREATE NONCLUSTERED INDEX [IX_PruzeneUsluge_RezervacijaID] ON [dbo].[PruzeneUsluge]
(
	[RezervacijaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_PruzeneUsluge_UslugaID]    Script Date: 27/06/2019 18:34:21 ******/
CREATE NONCLUSTERED INDEX [IX_PruzeneUsluge_UslugaID] ON [dbo].[PruzeneUsluge]
(
	[UslugaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_PruzeneUsluge_ZaposlenikID]    Script Date: 27/06/2019 18:34:21 ******/
CREATE NONCLUSTERED INDEX [IX_PruzeneUsluge_ZaposlenikID] ON [dbo].[PruzeneUsluge]
(
	[ZaposlenikID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Ratings_KlijentID]    Script Date: 27/06/2019 18:34:21 ******/
CREATE NONCLUSTERED INDEX [IX_Ratings_KlijentID] ON [dbo].[Ratings]
(
	[KlijentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Ratings_UslugeID]    Script Date: 27/06/2019 18:34:21 ******/
CREATE NONCLUSTERED INDEX [IX_Ratings_UslugeID] ON [dbo].[Ratings]
(
	[UslugeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Rezervacija_KlijentID]    Script Date: 27/06/2019 18:34:21 ******/
CREATE NONCLUSTERED INDEX [IX_Rezervacija_KlijentID] ON [dbo].[Rezervacija]
(
	[KlijentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Rezervacija_UslugeID]    Script Date: 27/06/2019 18:34:21 ******/
CREATE NONCLUSTERED INDEX [IX_Rezervacija_UslugeID] ON [dbo].[Rezervacija]
(
	[UslugeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_RezervacijaEdukacije_edukacijaID]    Script Date: 27/06/2019 18:34:21 ******/
CREATE NONCLUSTERED INDEX [IX_RezervacijaEdukacije_edukacijaID] ON [dbo].[RezervacijaEdukacije]
(
	[edukacijaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_RezervacijaEdukacije_klijentID]    Script Date: 27/06/2019 18:34:21 ******/
CREATE NONCLUSTERED INDEX [IX_RezervacijaEdukacije_klijentID] ON [dbo].[RezervacijaEdukacije]
(
	[klijentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_RezervacijaEdukacije_zaposlenikID]    Script Date: 27/06/2019 18:34:21 ******/
CREATE NONCLUSTERED INDEX [IX_RezervacijaEdukacije_zaposlenikID] ON [dbo].[RezervacijaEdukacije]
(
	[zaposlenikID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Uplate_RezervacijaID]    Script Date: 27/06/2019 18:34:21 ******/
CREATE NONCLUSTERED INDEX [IX_Uplate_RezervacijaID] ON [dbo].[Uplate]
(
	[RezervacijaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Uplate_TipUplateID]    Script Date: 27/06/2019 18:34:21 ******/
CREATE NONCLUSTERED INDEX [IX_Uplate_TipUplateID] ON [dbo].[Uplate]
(
	[TipUplateID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Uplate_ZaposlenikID]    Script Date: 27/06/2019 18:34:21 ******/
CREATE NONCLUSTERED INDEX [IX_Uplate_ZaposlenikID] ON [dbo].[Uplate]
(
	[ZaposlenikID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ZaposleniciUloge_UlogaID]    Script Date: 27/06/2019 18:34:21 ******/
CREATE NONCLUSTERED INDEX [IX_ZaposleniciUloge_UlogaID] ON [dbo].[ZaposleniciUloge]
(
	[UlogaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ZaposleniciUloge_ZaposlenikID]    Script Date: 27/06/2019 18:34:21 ******/
CREATE NONCLUSTERED INDEX [IX_ZaposleniciUloge_ZaposlenikID] ON [dbo].[ZaposleniciUloge]
(
	[ZaposlenikID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Zaposlenik_GradID]    Script Date: 27/06/2019 18:34:21 ******/
CREATE NONCLUSTERED INDEX [IX_Zaposlenik_GradID] ON [dbo].[Zaposlenik]
(
	[GradID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Grad]  WITH CHECK ADD  CONSTRAINT [FK_Grad_Drzava_DrzavaID] FOREIGN KEY([DrzavaID])
REFERENCES [dbo].[Drzava] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Grad] CHECK CONSTRAINT [FK_Grad_Drzava_DrzavaID]
GO
ALTER TABLE [dbo].[Klijent]  WITH CHECK ADD  CONSTRAINT [FK_Klijent_Grad_GradID] FOREIGN KEY([GradID])
REFERENCES [dbo].[Grad] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Klijent] CHECK CONSTRAINT [FK_Klijent_Grad_GradID]
GO
ALTER TABLE [dbo].[Plata]  WITH CHECK ADD  CONSTRAINT [FK_Plata_Zaposlenik_ZaposlenikID] FOREIGN KEY([ZaposlenikID])
REFERENCES [dbo].[Zaposlenik] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Plata] CHECK CONSTRAINT [FK_Plata_Zaposlenik_ZaposlenikID]
GO
ALTER TABLE [dbo].[Proizvods]  WITH CHECK ADD  CONSTRAINT [FK_Proizvods_VrstaProizvoda_VrstaProizvodaID] FOREIGN KEY([VrstaProizvodaID])
REFERENCES [dbo].[VrstaProizvoda] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Proizvods] CHECK CONSTRAINT [FK_Proizvods_VrstaProizvoda_VrstaProizvodaID]
GO
ALTER TABLE [dbo].[ProizvodUsluga]  WITH CHECK ADD  CONSTRAINT [FK_ProizvodUsluga_Proizvods_ProizvodID] FOREIGN KEY([ProizvodID])
REFERENCES [dbo].[Proizvods] ([ProizvodID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProizvodUsluga] CHECK CONSTRAINT [FK_ProizvodUsluga_Proizvods_ProizvodID]
GO
ALTER TABLE [dbo].[ProizvodUsluga]  WITH CHECK ADD  CONSTRAINT [FK_ProizvodUsluga_Usluge_UslugeId] FOREIGN KEY([UslugeId])
REFERENCES [dbo].[Usluge] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProizvodUsluga] CHECK CONSTRAINT [FK_ProizvodUsluga_Usluge_UslugeId]
GO
ALTER TABLE [dbo].[PruzeneUsluge]  WITH CHECK ADD  CONSTRAINT [FK_PruzeneUsluge_Rezervacija_RezervacijaID] FOREIGN KEY([RezervacijaID])
REFERENCES [dbo].[Rezervacija] ([Id])
GO
ALTER TABLE [dbo].[PruzeneUsluge] CHECK CONSTRAINT [FK_PruzeneUsluge_Rezervacija_RezervacijaID]
GO
ALTER TABLE [dbo].[PruzeneUsluge]  WITH CHECK ADD  CONSTRAINT [FK_PruzeneUsluge_Usluge_UslugaID] FOREIGN KEY([UslugaID])
REFERENCES [dbo].[Usluge] ([Id])
GO
ALTER TABLE [dbo].[PruzeneUsluge] CHECK CONSTRAINT [FK_PruzeneUsluge_Usluge_UslugaID]
GO
ALTER TABLE [dbo].[PruzeneUsluge]  WITH CHECK ADD  CONSTRAINT [FK_PruzeneUsluge_Zaposlenik_ZaposlenikID] FOREIGN KEY([ZaposlenikID])
REFERENCES [dbo].[Zaposlenik] ([id])
GO
ALTER TABLE [dbo].[PruzeneUsluge] CHECK CONSTRAINT [FK_PruzeneUsluge_Zaposlenik_ZaposlenikID]
GO
ALTER TABLE [dbo].[Ratings]  WITH CHECK ADD  CONSTRAINT [FK_Ratings_Klijent_KlijentID] FOREIGN KEY([KlijentID])
REFERENCES [dbo].[Klijent] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Ratings] CHECK CONSTRAINT [FK_Ratings_Klijent_KlijentID]
GO
ALTER TABLE [dbo].[Ratings]  WITH CHECK ADD  CONSTRAINT [FK_Ratings_Usluge_UslugeID] FOREIGN KEY([UslugeID])
REFERENCES [dbo].[Usluge] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Ratings] CHECK CONSTRAINT [FK_Ratings_Usluge_UslugeID]
GO
ALTER TABLE [dbo].[Rezervacija]  WITH CHECK ADD  CONSTRAINT [FK_Rezervacija_Klijent_KlijentID] FOREIGN KEY([KlijentID])
REFERENCES [dbo].[Klijent] ([id])
GO
ALTER TABLE [dbo].[Rezervacija] CHECK CONSTRAINT [FK_Rezervacija_Klijent_KlijentID]
GO
ALTER TABLE [dbo].[Rezervacija]  WITH CHECK ADD  CONSTRAINT [FK_Rezervacija_Usluge_UslugeID] FOREIGN KEY([UslugeID])
REFERENCES [dbo].[Usluge] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Rezervacija] CHECK CONSTRAINT [FK_Rezervacija_Usluge_UslugeID]
GO
ALTER TABLE [dbo].[RezervacijaEdukacije]  WITH CHECK ADD  CONSTRAINT [FK_RezervacijaEdukacije_Edukacija_edukacijaID] FOREIGN KEY([edukacijaID])
REFERENCES [dbo].[Edukacija] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RezervacijaEdukacije] CHECK CONSTRAINT [FK_RezervacijaEdukacije_Edukacija_edukacijaID]
GO
ALTER TABLE [dbo].[RezervacijaEdukacije]  WITH CHECK ADD  CONSTRAINT [FK_RezervacijaEdukacije_Klijent_klijentID] FOREIGN KEY([klijentID])
REFERENCES [dbo].[Klijent] ([id])
GO
ALTER TABLE [dbo].[RezervacijaEdukacije] CHECK CONSTRAINT [FK_RezervacijaEdukacije_Klijent_klijentID]
GO
ALTER TABLE [dbo].[RezervacijaEdukacije]  WITH CHECK ADD  CONSTRAINT [FK_RezervacijaEdukacije_Zaposlenik_zaposlenikID] FOREIGN KEY([zaposlenikID])
REFERENCES [dbo].[Zaposlenik] ([id])
GO
ALTER TABLE [dbo].[RezervacijaEdukacije] CHECK CONSTRAINT [FK_RezervacijaEdukacije_Zaposlenik_zaposlenikID]
GO
ALTER TABLE [dbo].[Uplate]  WITH CHECK ADD  CONSTRAINT [FK_Uplate_Rezervacija_RezervacijaID] FOREIGN KEY([RezervacijaID])
REFERENCES [dbo].[Rezervacija] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Uplate] CHECK CONSTRAINT [FK_Uplate_Rezervacija_RezervacijaID]
GO
ALTER TABLE [dbo].[Uplate]  WITH CHECK ADD  CONSTRAINT [FK_Uplate_TipUplate_TipUplateID] FOREIGN KEY([TipUplateID])
REFERENCES [dbo].[TipUplate] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Uplate] CHECK CONSTRAINT [FK_Uplate_TipUplate_TipUplateID]
GO
ALTER TABLE [dbo].[Uplate]  WITH CHECK ADD  CONSTRAINT [FK_Uplate_Zaposlenik_ZaposlenikID] FOREIGN KEY([ZaposlenikID])
REFERENCES [dbo].[Zaposlenik] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Uplate] CHECK CONSTRAINT [FK_Uplate_Zaposlenik_ZaposlenikID]
GO
ALTER TABLE [dbo].[ZaposleniciUloge]  WITH CHECK ADD  CONSTRAINT [FK_ZaposleniciUloge_Uloge_UlogaID] FOREIGN KEY([UlogaID])
REFERENCES [dbo].[Uloge] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ZaposleniciUloge] CHECK CONSTRAINT [FK_ZaposleniciUloge_Uloge_UlogaID]
GO
ALTER TABLE [dbo].[ZaposleniciUloge]  WITH CHECK ADD  CONSTRAINT [FK_ZaposleniciUloge_Zaposlenik_ZaposlenikID] FOREIGN KEY([ZaposlenikID])
REFERENCES [dbo].[Zaposlenik] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ZaposleniciUloge] CHECK CONSTRAINT [FK_ZaposleniciUloge_Zaposlenik_ZaposlenikID]
GO
ALTER TABLE [dbo].[Zaposlenik]  WITH CHECK ADD  CONSTRAINT [FK_Zaposlenik_Grad_GradID] FOREIGN KEY([GradID])
REFERENCES [dbo].[Grad] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Zaposlenik] CHECK CONSTRAINT [FK_Zaposlenik_Grad_GradID]
GO
USE [master]
GO
